// COLORS
$color-dark: #0c0c0c;
$color-dark-2: #171717;
$color-light: #f3efe0;
$color-primary: #cba135;
$color-secondary: #7fdeef;
$color-error: #f44336;
// FONTS
$title-font: 'Quicksand', sans-serif;
$body-font: 'Nunito', sans-serif;
// MEDIA QUERY BREAKPOINTS
$tiny: 480px;
$very-small: 550px;
$small: 640px;
$medium: 720px;
$large: 992px;
$very-large: 1440px;
// OTHER
$border-radius: 2px;
$icon-margin: 2px;
$grid-gap: 8px;
$card-bg: lighten($color-dark-2, 10%);
