.modal {
	background-color: $color-dark-2;
	color: $color-light;
	padding: 2em;
	border-radius: $border-radius;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;

	&__title {
		font-family: $title-font;
	}

	&__body {
		padding: 1.25em 0;
	}

	&__btn {
		display: block;
		margin-left: auto;
	}
}
